/* Styling for the main header */
.header-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Styling for the main element */
main {
    display: flex;
    justify-content: space-around;
}

/* Styling for the main content section */
.content-main {
    flex: 1;
    padding: 12px;
}

/* Styling for the gender label */
.label-gender {
    font-size: 16px;
    font-weight: bold;
}

/* Bottom margin for gender elements */
.gender {
    margin-bottom: 15px;
}

/* Styling for buttons */
.btn {
    height: 32px;
    border-radius: 6px;
}

/* Styling for submit button */
.submit-btn {
    background-color: aquamarine;
    border: 0px;
}

/* Styling for reset button */
.reset-btn {
    border: 0px;
}

/* Styling for number input */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/* Styling for number input focus */
input[type=number]:focus {
    border: 3px solid #555;
}

/* Padding bottom for gender label */
.label-gender {
    padding-bottom: 7px;
}

/* Bottom margin for radio input */
input[type=radio] {
    margin-bottom: 10px;
}

/* Styling for result container */
.result-container {
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 12px;
    display: none;
}

/* Top margin for features article and text layout */
.article-features {
    margin-top: 30px;
    text-align: justify;
}

/* Styling for form section */
.form-section {
    background-color: aliceblue;
    padding: 20px;
    font-weight: bold;
}

/* Text layout for intro article */
.article-intro {
    text-align: justify;
}

/* Styling for result article */
.result-article {
    text-align: justify;
    display: none;
}

/* Styling for general information */
.general-info {
    text-align: center;
    display: none;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 8px;
}

/* Styling for app footer */
.app-footer {
    text-align: center;
    align-items: center;
    display: none;
}

/* Size for Google Play logo */
.logo-googleplay {
    height: 21%;
    width: 21.5%;
}

/* Size for App Store logo */
.logo-appstore {
    height: 21%;
    width: 21.5%;
}
/* Mobile */
@media only screen and (max-width: 425px){
    main{
        flex-direction: column;
    }

    .app-footer{
        display: block !important;
    }
}